<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1024, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Sales Report</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css" media="screen" />
	<script src="/js/util.js"></script>
	<script src="/js/error.js"></script>
	<script src="/js/page.js"></script>
	<script src="/js/zepto.js"></script>
	<script src="/js/zepto.form.js"></script>
	<script language="javascript">
		//刷新当前页数据 
		function refresh(){
			var pageNo = $("#pageNo").val();
			load(pageNo);
		}
		//加载当前页面数据
	    function load(pageNo) {
	    	var b = $("input[name='startAt']").val(),
			    e = $("input[name='endAt']").val();
			if (b  && e) {
				isValid = (b <= e);
				if(!isValid) {
					alert("开始时间必须小于结束时间");
					return false;
				}
			}
	    	pageNo = isNaN(parseInt(pageNo)) ? 1 : pageNo;
	    	$("#pageNo").val(pageNo);
	    	var intentType1 = $("#intentType1").val();
	   		var intentType2 = $("#intentType2").val();
	   		var intentType3 = $("#intentType3").val();
	   		var intentTypeDesc="";
	   		if(intentType1&&intentType1!=""){
	   			intentTypeDesc+="f"+intentType1+"|";
	   		}
	   		if(intentType2&&intentType2!=""){
	   			intentTypeDesc+="t"+intentType2+"|";
	   		}
			if(intentType3&&intentType3!=""){
	   			intentTypeDesc+="w"+intentType3;
	   		}
			$("#intentType").val(intentTypeDesc);
	   		var form = $("#mainForm");
	    	$.ajax({
			  type: 'POST',
			  url: '/spi/queryCustomerList.do',
			  // data to be added to query string:
			  data: '{"body":'+JSON.stringify(form.serializeJson())+'}',
			  // type of data we are expecting in return:
			  dataType: 'json',
			  headers:{
			  	"_x_sessionid":"${sessionId}"
			  },
			  success: function(data){
			    var result = data.result;
			    if(result){
			    	if(result.code=="0"){
			    		var page = data.page;
			    		var customers = data.customers;
			    		reloadView(customers);
			    		reloadPage(page);
			    	}else{
			    		reportErrorCode(result.code);
			    	}
			    }else{
			    	alert("结果返回不正确");
			    }
			  },
			  error: function(xhr, type){
			    alert('Ajax error!')
			  }
			});
	    }
	    //重载查询结果视图
	    function reloadView(customers){
	    	var rpttable = byId('datatable');
	    	var rows = rpttable.rows;
	    	for (var i=rows.length-1; i>0; i--) {
	    		rpttable.deleteRow(i);
	    	}
	    	clearPageBar('pagenav');
	    	if (customers && customers.length>0) {
	    		for (var i=0;i<customers.length;i++) {
	    			var item = customers[i];
	    			var ci=0;
	    			var row = rpttable.insertRow(rpttable.rows.length);
	    			append(row,ci++,String.format('<td><input type="checkbox" name="customerInfoIds" value="{0}"></td>',item.id));
		    		append(row,ci++,String.format('<td>{0}</td>',item.name));
		    		append(row,ci++,String.format('<td>{0}</td>',item.phone));
		    		append(row,ci++,String.format('<td>{0}</td>',item.regdate));
		    		append(row,ci++,String.format('<td>{0}</td>',item.source));
		    		append(row,ci++,String.format('<td>{0}</td>',item.status==0?"未订购":"已订购"));
		    		append(row,ci++,String.format('<td>{0}</td>',getIntentDesc(item.intentmodelname)));
		    		append(row,ci++,String.format('<td>{0}</td>',item.intentcommunityname==null?"--":item.intentcommunityname));
		    		append(row,ci++,String.format('<td><img class="searchbtn" src="/images/detail.png" onclick="updateCustomer({0})"><img class="searchbtn" src="/images/message2.png" onclick="gotoSendSMSPage({1})"></td>',item.id,item.id));
	    		}
	    	}else {
	    		var row = rpttable.insertRow(rpttable.rows.length);
	    		var cell = row.insertCell(ci++);
	    		cell.setAttribute('colspan',10);
	    		cell.innerHTML = '暂无记录';
	    	}
	    }
	    
	    function append(row,ci,html){
	    	var cell = row.insertCell(ci);
	    	cell.innerHTML = html;
	    }
	    
	    //获取意向户型描述
	    function getIntentDesc(intentDesc){
	    	if(intentDesc==null){
	    		return "--";
	    	}
	    	if(""!=intentDesc){
				var intarray = intentDesc.split("|");
				if(intarray.length==3){
					return String.format("{0}房{1}厅{2}卫",intarray[0].substring(1),intarray[1].substring(1),intarray[2].substring(1));
				}
			}
			return "??";
	    }
	    
	    //重新加载分页条
	    function reloadPage(page){
	    	//重绘分页条
	    	generatePageBar(page.pageno, page.totalpage, 'pagenav', 'load');
	    	//移动到顶端
	    	window.scrollTo(0,0);
	    }
	    //删除顾客
	    function deleteCustomer(){
				if(checkSelect('customerInfoIds')==0) {
					alert('请选择要删除的客户！');
					return false;
				}
				if (window.confirm('确定删除所选客户吗?')){
					$.ajax({
					  type: 'POST',
					  url: '/spi/delCustomer.do',
					  // data to be added to query string:
					  data: String.format('{"body":{"customerids":"{0}"}}',getTickedCheckbox('customerInfoIds')),
					  // type of data we are expecting in return:
					  dataType: 'json',
					  headers:{
					  	"_x_sessionid":"${sessionId}"
					  },
					  success: function(data){
					    var result = data.result;
					    if(result){
				    		reportErrorCode(result.code);
					    	if(result.code=="0"){
					    		refresh();
					    	}
					    }else{
					    	alert("结果返回不正确");
					    }
					  },
					  error: function(xhr, type){
					    alert('Ajax error!')
					  }
					});
				}
				return false;
	    }
	    
	    function checkSelect(checkboxName) {
			    var chkElemGroup = document.getElementsByName(checkboxName);
			    var x = 0;
			    if(chkElemGroup != null) {
			        for(var i=0;i<chkElemGroup.length;i++) {
			            if(chkElemGroup[i].checked) x++;
			        }
			    }
			    return x;
		}
		
		function addCustomer(){
			window.location.href="/page/addcustomer?ss=${sessionId}";
		}
		
		function updateCustomer(id){
			window.location.href="/page/updatecustomer?ss=${sessionId}&id="+id;
		}
		
		function gotoSendSMSPage(id){
			//如果只发单人
			var ids;
			if(id){
				ids =id;
			}else{
				if(checkSelect('customerInfoIds')==0) {
					alert('请选择要发送短信的客户！');
					return false;
				}
				ids = getTickedCheckbox('customerInfoIds');
			}
			window.location.href="/page/sendsms?ss=${sessionId}&ids="+ids;
		}
		
	    
	    
	</script>
</head>
<body onload="load()">
<form id="mainForm" name="mainForm">
  <input type="hidden" name="pageNo" id="pageNo"/>
	<input type="hidden" name="intentType" id="intentType"/>
	<div class='datadiv'>
   <div class="search">
 <div class="fl">

        <select name="status">
			<option value="">请选择订购状态</option>
			<option value="1">已定</option>
			<option value="0">未定</option>
		</select>
		<select name="intentType1" id="intentType1">
			<option value="">请选择房间</option>
			<option value="1">1房</option>
			<option value="2">2房</option>
			<option value="3">3房</option>
			<option value="4">4房</option>
			<option value="5">5房</option>
		</select>
		<select name="intentType2" id="intentType2">
			<option value="">请选择客厅</option>
			<option value="1">1厅</option>
			<option value="2">2厅</option>
			<option value="3">3厅</option>
		</select>
		<select name="intentType3" id="intentType3">
			<option value="">请选择卫生间</option>
			<option value="1">1卫</option>
			<option value="2">2卫</option>
			<option value="3">3卫</option>
		</select>
		<input type="text" name="querystr" placeHolder="请输入关键字">
		<div class="searchbox"><a href=""  onclick="load()"></a></div>
        </div>
		<div class="fr">
		<a href="javascript:void(0);" onclick="addCustomer()"><img class="searchbtn" src="../../images/add.png" ></a>
		<a href="javascript:void(0);" onclick="deleteCustomer()"><img class="searchbtn" src="../../images/del.png" ></a>
		<a href="javascript:void(0);" onclick="gotoSendSMSPage()"><img class="searchbtn" src="../../images/message.png"></a>
		</div>
	</div>
		<table id="datatable" class="datatable_list" cellpadding="0" cellspacing="0">
			<tr>
				<th><input type="checkbox" onclick="checkall('customerInfoIds',this.checked)"></th>
				<th>客户姓名</th>
				<th>联系方式</th>
				<th>登记时间</th>
				<th>来源</th>
				<th>是否下订</th>
				<th>意向户型</th>
				<th>意向楼盘</th>
				<th>操作</th>
			</tr>
		</table>
        <div id='pagenav' class='pagenav'></div>
		</div>
		</form>

	
</body>
</html>