<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1024, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Sales Report</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css" media="screen" />
	<script src="/js/util.js"></script>
	<script src="/js/error.js"></script>
	<script src="/js/page.js"></script>
	<script src="/js/calendar.js"></script>
	<script src="/js/zepto.js"></script>
	<script src="/js/zepto.form.js"></script>
	<script language="javascript">

		
	
		//刷新当前页数据 
		function refresh(){
			var pageNo = $("#pageNo").val();
			load(pageNo);
		}
		//加载当前页面数据
	    function load(pageNo) {
	    	var b = $("input[name='startAt']").val(),
			    e = $("input[name='endAt']").val();
			if (b  && e) {
				isValid = (b <= e);
				if(!isValid) {
					alert("开始时间必须小于结束时间");
					return false;
				}
			}
	    	pageNo = isNaN(parseInt(pageNo)) ? 1 : pageNo;
	    	$("#pageNo").val(pageNo);
	   		var form = $("#mainForm");
	    	$.ajax({
			  type: 'POST',
			  url: '/spi/queryHouseOrderList.do',
			  // data to be added to query string:
			  data: '{"body":'+JSON.stringify(form.serializeJson())+'}',
			  // type of data we are expecting in return:
			  dataType: 'json',
			  headers:{
			  	"_x_sessionid":"${sessionId}"
			  },
			  success: function(data){
			    var result = data.result;
			    if(result){
			    	if(result.code=="0"){
			    		var page = data.page;
			    		var orders = data.houseorders;
			    		reloadView(orders);
			    		reloadPage(page);
			    	}else{
			    		reportErrorCode(result.code);
			    	}
			    }else{
			    	alert("结果返回不正确");
			    }
			  },
			  error: function(xhr, type){
			    alert('Ajax error!')
			  }
			});
	    }
	    
	    //重载查询结果视图
	    function reloadView(orders){
	    	var rpttable = byId('datatable');
	    	var rows = rpttable.rows;
	    	for (var i=rows.length-1; i>0; i--) {
	    		rpttable.deleteRow(i);
	    	}
	    	clearPageBar('pagenav');
	    	if(!orders||orders.length==0){
	    		var row = rpttable.insertRow(rpttable.rows.length);
	    		var cell = row.insertCell(ci++);
	    		cell.setAttribute('colspan',10);
	    		cell.innerHTML = '暂无记录';
	    	}else{
	    		var t = $("#datatable");
	    		for (var i=0;i<orders.length;i++) {
	    			var item = orders[i];
	    			var ci=0;
	    			var row = rpttable.insertRow(rpttable.rows.length);
		    		append(row,ci++,String.format('<td>{0}</td>',item.buildname));
		    		append(row,ci++,String.format('<td>{0}</td>',item.floorname+"F"));
		    		append(row,ci++,String.format('<td>{0}</td>',item.modelname));
		    		append(row,ci++,String.format('<td>{0}</td>',item.builtuparea+"平方米"));
		    		append(row,ci++,String.format('<td>{0}</td>',item.orderdate));
		    		append(row,ci++,String.format('<td>{0}</td>',item.customername));
		    		append(row,ci++,String.format('<td>{0}</td>',item.customerphone==null?"--":item.customerphone));
		    		append(row,ci++,String.format('<td>{0}</td>',item.rommno==null?"--":item.rommno));
		    		if(item.status==1){
		    			append(row,ci++,'<td>--</td>');
		    		}else{
		    			append(row,ci++,String.format('<td><img class="searchbtn" src="/images/gou.png" onclick="goToPreOrderPage({0})"></td>',item.id));
		    		}
				}
			}
	    }
	    
	     function append(row,ci,html){
	    	var cell = row.insertCell(ci);
	    	cell.innerHTML = html;
	    }
	    
	    
	    //重新加载分页条
	    function reloadPage(page){
	    	//重绘分页条
	    	generatePageBar(page.pageno, page.totalpage, 'pagenav', 'load');
	    	//移动到顶端
	    	window.scrollTo(0,0);
	    }
		
		function goToPreOrderPage(id){
			window.location.href="/page/orderConfirmHouse?ss=${sessionId}&id="+id;
		}
		
		//页面加载完成
		function pageLoad(){
			$.get("/spi/communityUtil.do", {type:'community'},
				function(data) {
				  var opstr = "<option value=''>请选择楼盘</option>";
				  for (var i=0;i<data.options.length;i++) {
					  opstr += "<option value='"+data.options[i].value+"'>"+data.options[i].name+"</option>";
				  }
				  $('#community').html(opstr);
			  });
		
			//community onchange
			$('#community').change(function() {
			  var community = $(this).val();
			  $.get("/spi/communityUtil.do", {type:'building', community:community}, function(data) {
				  var opstr = "<option value=''>请选择楼栋</option>";
				  for (var i=0;i<data.options.length;i++) {
					  opstr += "<option value='"+data.options[i].value+"'>"+data.options[i].name+"</option>";
				  }
				$('#building').html(opstr);
				
				var opstr = "<option value=''>请选择房型</option>";
				$('#suitetype').html(opstr);
			  });
			});

			//building onchange
			$('#building').change(function() {
			  var community = $('#community').val();
			  var building = $(this).val();
			  $.get("/spi/communityUtil.do", {type:'suitetype', community:community, building:building}, function(data) {
				  var opstr = "<option value=''>请选择房型</option>";
				  for (var i=0;i<data.options.length;i++) {
					  opstr += "<option value='"+data.options[i].value+"'>"+data.options[i].name+"</option>";
				  }
				$('#suitetype').html(opstr);
			  });
			});
			load(1);
		}
	</script>
</head>
<body onload="pageLoad()">
<form id="mainForm" name="mainForm">
  <input type="hidden" name="pageNo" id="pageNo"/>
	<div class='datadiv'>
    <div class=search>
		<div class="fl">
        <select name="communityId" id="community">
			<option value="">请选择楼盘</option>
		</select>
		<select name="buildId" id="building">
			<option value="">请选择楼栋</option>
		</select>
		<select name="suiteTypeId" id="suitetype">
			<option value="">请选择房型</option>
		</select>
		<select name="status">
			<option value="0">未签约</option>
			<option value="1">已签约</option>
		</select>
		<input type="text" name="startAt" id="startAt" readonly class='datepickr' 
			placeholder="开始日期" onclick='javascript:calendar.setHook(this)'>
		<input type="text" name="endAt" id="endAt" readonly class='datepickr' 
			placeholder="结束日期" onclick='javascript:calendar.setHook(this)'>
		<input type="text" name="querystr" placeHolder="快速搜索房间号">
		<div class="searchbox"><a href=""  onclick="load()"></a></div>
        </div>
	</div>
		<table id="datatable" class="datatable_list" cellpadding="0" cellspacing="0">
			<tr>
				<th>楼座</th>
				<th>楼层</th>
				<th>房型</th>
				<th>建筑面积</th>
				<th>下定时间</th>
				<th>顾客姓名</th>
				<th>手机号码</th>
				<th>房间号</th>
				<th>操作</th>
			</tr>
		</table>
        <div id='pagenav' class='pagenav'></div>

	</div>
	</form>
</body>