<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1024, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>登记下订（认筹）</title>
	
	<link rel="stylesheet" type="text/css" href="../../css/style.css" media="screen" />
	<script src="/js/util.js"></script>
	<script src="/js/error.js"></script>
	<script src="/js/calendar.js"></script>
	<script src="/js/zepto.js"></script>
	<script src="/js/zepto.form.js"></script>
	<script src="/js/happy.js"></script>
	<script src="/js/happy.methods.js"></script>
	<script language="javascript">
		
		function submitForm() {
	   		var form = $("#mainForm");
	    	$.ajax({
			  type: 'POST',
			  url: '/spi/orderHouse.do',
			  // data to be added to query string:
			  data: '{"body":'+JSON.stringify(form.serializeJson())+'}',
			  // type of data we are expecting in return:
			  dataType: 'json',
			  headers:{
			  	"_x_sessionid":"${sessionId}"
			  },
			  success: function(data){
			    var result = data.result;
			    if(result){
			    	reportErrorCode(result.code);
			    	goback();
			    }else{
			    	alert("结果返回不正确");
			    }
			  },
			  error: function(xhr, type){
			    alert('Ajax error!')
			  }
			});
	    }
	    
	    
	    function goback(){
	    	window.location.href="/page/suiteList?ss=${sessionId}";
	    }
	    
	    $(document).ready(function () {
	        $('#mainForm').isHappy({
	          submitButton:"#submit",
	          happy:function(){
	          	submitForm();
	          },
	          fields: {
	            // reference the field you're talking about, probably by `id`
	            // but you could certainly do $('[name=name]') as well.
	            '#name': {
	              required: true,
	              message: '顾客姓名不能为空,且不能大于8个字符',
	              test:happy.maxLength,
	              arg:8
	            },
	            '#phone': {
	              required: true,
	              message: '请输入有效的手机号码',
	              test:happy.ZHPhone
	            }, 
	            '#startAt': {
	              required: true,
	              message: '日期不能为空，且不能晚于今天${today}',
	              test:function(b){
	              		var e = "${today}";
					    return (b <= e);
	              }
	            },
	            '#sex': {
	              required: true,
	              message: '请选择性别',
	            },
	            '#price': {
	              required: true,
	              message: '定金不能为空，且不能超过${(dto.totalPrice)!}元',
	              test:function(val){
	              	var totalPrice="${(dto.totalPrice)!}";
	              	return val<totalPrice;
	              }
	            }
	          }
	        });
      }); 
	
	</script>
</head>
<body onload="">
<form id="mainForm" name="mainForm">
	<input type="hidden" name="suiteId" value="${(dto.id)!}"/>
		
		<div class='datadiv'>
        <div class="subtitle">用户认筹</div>
		<table id="datatable" class="datatable" cellpadding="0" cellspacing="0">
			<tr>
			<td>房产信息</td>
			<td style="text-align:left;"><input disabled="disabled" type="text" value="${(dto.communityName)!},${(dto.buildingNo)!},${(dto.floor)!}F,${(dto.roomNo)!},${(dto.face)!}"></td>
			<td style="text-align:left;">&nbsp;</td>
			</tr>
			
			<tr>
			<td>价格信息</td>
			<td style="text-align:left;"><input disabled="disabled"  type="text" value="单价:${(dto.unitPrice)!}元/平方米,总价:${(dto.totalPrice)!}元"></td>
			<td style="text-align:left;">&nbsp;</td>
			</tr>
			
			<tr>
			<td>日期</td>
			<td style="text-align:left;"><input type="text" name="orderDate" id="startAt" readonly class='datepickr' onClick='javascript:calendar.setHook(this)'></td>
			<td style="text-align:left;"><font color="red">*</font>
			</td>
			</tr>
			
			<tr>
			<td>姓名</td>
			<td style="text-align:left;"><input type="text" name="name" id="name"></td>
			<td style="text-align:left;"><font color="red">*</font>
			</td>
			</tr>
			
			<tr>
			<td>性别</td>
			<td style="text-align:left;"><select name="sex" id="sex">
			  <option value="male">男</option>
			  <option value="female">女</option>
			  </select></td>
			<td style="text-align:left;"><font color="red">*</font>
			</td>
			</tr>
			
			<tr>
			<td>手机号码</td>
			<td style="text-align:left;"><input type="text" name="phone" id="phone"></td>
			<td style="text-align:left;"><font color="red">*</font>
			</td>
			</tr>
			
			<tr>
			<td>缴纳定金（元）</td>
			<td style="text-align:left;"><input type="text" name="price" id="price" onKeyUp="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/></td>
			<td style="text-align:left;"><font color="red">*</font></td>
			</tr>
			
			<tr><td colspan="3"><div class="line"></div></td></tr>
			
			<tr>
			<td>置业顾问姓名</td>
			<td style="text-align:left;"><input type="text" disabled="disabled" value="${(user.operName)!}"></td>
			<td style="text-align:left;">&nbsp;</td>
			</tr>
			
			<!-- 
			<tr>
			<td>置业顾问账号</td>
			<td>
				<input disabled="disabled" style="color: red;" value="${(user.loginName)!}">
			</td>
			</tr>
			 -->
			
			<tr>
			<td>所属渠道</td>
			<td style="text-align:left;"><input type="text" disabled="disabled" value="${(user.channelName)!}"></td>
			<td style="text-align:left;">&nbsp;</td>
			</tr>
			
			<tr>
				<td colspan="3" class="btnfont">
					<input type="button" id="cancel" value="取消" onclick="goback();">
					<input type="button" id="submit" value="确认">
				</td>
			</tr>
			
		</table>
		
	</div>
	</form>
</body>