<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1024, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>管理顾客信息</title>
	
	<link rel="stylesheet" type="text/css" href="../../css/style.css" media="screen" />
	<script src="/js/util.js"></script>
	<script src="/js/error.js"></script>
	<script src="/js/calendar.js"></script>
	<script src="/js/zepto.js"></script>
	<script src="/js/zepto.form.js"></script>
	<script src="/js/happy.js"></script>
	<script src="/js/happy.methods.js"></script>
	
	<script language="javascript">
		var mode="${mode}";
		//加载已经保存的值处理到选择框中
		function load(){
			if("update"!=mode){
				return;
			}
			var source = "${(dto.fromSource)!}";
			var sex = "${(dto.sex)!}";
			if(""!=source){
				$("#source").val(source);
			}
			if(""!=sex){
				$("#sex").val(sex);
			}
			var intentDesc = "${(dto.intentTypeDesc)!}";
			if(""!=intentDesc){
				var intarray = intentDesc.split("|");
				if(intarray.length==3){
					$("#intentType1").val(intarray[0].substring(1));
					$("#intentType2").val(intarray[1].substring(1));
					$("#intentType3").val(intarray[2].substring(1));
				}
			}
			
			
			
		}
		
		function submitForm() {
	   		var form = $("#mainForm");
	   		var intentType1 = $("#intentType1").val();
	   		var intentType2 = $("#intentType2").val();
	   		var intentType3 = $("#intentType3").val();
	   		if(intentType1==""||intentType2==""||intentType3==""){
	   			alert("请选择意向户型");
	   			return false;
	   		}
	   		var intentTypeDesc="";
	   		intentTypeDesc+="f"+intentType1+"|";
			intentTypeDesc+="t"+intentType2+"|";
			intentTypeDesc+="w"+intentType3;
			$("#intentModelName").val(intentTypeDesc);
	   		var url;
	   		if("add"==mode){
	   			url="/spi/addCustomer.do";
	   		}else{
	   			url="/spi/updateCustomer.do";
	   		}
	    	$.ajax({
			  type: 'POST',
			  url: url,
			  // data to be added to query string:
			  data: '{"body":'+JSON.stringify(form.serializeJson())+'}',
			  // type of data we are expecting in return:
			  dataType: 'json',
			  headers:{
			  	"_x_sessionid":"${sessionId}"
			  },
			  success: function(data){
			    var result = data.result;
			    if(result){
			    	reportErrorCode(result.code);
			    	goback();
			    }else{
			    	alert("结果返回不正确");
			    }
			  },
			  error: function(xhr, type){
			    alert('Ajax error!')
			  }
			});
	    }
	    
	    
	    function goback(){
	    	window.location.href="/page/customerList?ss=${sessionId}";
	    }
	    
	    $(document).ready(function () {
	        $('#mainForm').isHappy({
	          submitButton:"#submit",
	          happy:function(){
	          	submitForm();
	          },
	          fields: {
	            // reference the field you're talking about, probably by `id`
	            // but you could certainly do $('[name=name]') as well.
	            '#source': {
	              required: true,
	              message: '请选择顾客来源'
	            },
	            '#name': {
	              required: true,
	              message: '顾客姓名不能为空',
	            },
	            '#phone': {
	              required: true,
	              message: '请输入有效的手机号码',
	              test:happy.ZHPhone
	            }, 
	            '#startAt': {
	              required: true,
	              message: '看房日期不能为空，且不能晚于今天${today}',
	              test:function(b){
	              		var e = "${today}";
					    return (b <= e);
	              }
	            },
	            '#sex': {
	              required: true,
	              message: '请选择性别',
	            },
	            '#intentCommunityName': {
	              required: true,
	              message: '请输入正确的意向楼盘',
	            }
	          }
	        });
      }); 

	
	</script>
</head>
<body onload="load();">
<form id="mainForm" name="mainForm">
		
	<div class='datadiv'>
      <div class="subtitle">顾客信息</div>
		<input type="hidden" name="id" value="${(dto.id)!}"/>
		<div class="noticebox">*请您仔细核对相关信息,确认无误后提交.</div>
		<table id="datatable" class="datatable" cellpadding="0" cellspacing="0">
			<tr>
			<td>来源渠道</td>
			<td style="text-align:left;"><select name="source" id="source">
			  <option value="XCKF">现场看房</option>
			  <option value="WL" >网络</option>
			  <option value="PLDR">批量导入</option>
			  <option value="NBZJ">内部转交</option>
			  </select></td>
			<td style="text-align:left;"><font color="red">*</font>
			</td>
			</tr>
			
			<tr>
			<td>客户姓</td>
			<td style="text-align:left;"><input type="text" name="name" id="name" value="${(dto.name)!}">
			  名</td>
			<td style="text-align:left;"><font color="red">*</font>
			</td>
			</tr>
			
			
			<tr>
			<td>手机号码</td>
			<td style="text-align:left;"><input type="text" name="phone" id="phone" value="${(dto.phoneNumber)!}"></td>
			<td style="text-align:left;"><font color="red">*</font>
			</td>
			</tr>
			
			<tr>
			<td>性别</td>
			<td style="text-align:left;"><select name="sex" id="sex">
			  <option value="male">男</option>
			  <option value="female">女</option>
			  </select></td>
			<td style="text-align:left;"><font color="red">*</font>
			</td>
			</tr>
			
			<tr>
			<td>看房日期</td>
			<td style="text-align:left;"><input type="text" name="viewDate" id="startAt" readonly class='datepickr' 
				onClick='javascript:calendar.setHook(this)' value="${(dto.viewDate)!}"></td>
			<td style="text-align:left;"><font color="red">*</font>
			</td>
			</tr>
			
			<tr>
			<td>意向户型</td>
			<td style="text-align:left;"><input type="hidden" name="intentModelName" id="intentModelName"/>
			  <select name="intentType1" id="intentType1" style="	margin:0 0 5px 0;">
			  <option value="">请选择</option>
			  <option value="1">1房</option>
			  <option value="2">2房</option>
			  <option value="3">3房</option>
			  <option value="4">4房</option>
			  <option value="5">5房</option>
			  </select><br>
			  <select name="intentType2" id="intentType2" style="	margin:0 0 5px 0;">
			    <option value="">请选择</option>
			    <option value="1">1厅</option>
			    <option value="2">2厅</option>
			    <option value="3">3厅</option>
		      </select><br>
			  <select name="intentType3" id="intentType3">
			    <option value="">请选择</option>
			    <option value="1">1卫</option>
			    <option value="2">2卫</option>
			    <option value="3">3卫</option>
		      </select></td>
			<td style="text-align:left;">
			  <font color="red">*</font>
			</td>
			</tr>
			
			<tr>
			<td>意向楼盘</td>
			<td style="text-align:left;"><input type="text" name="intentCommunityName" id="intentCommunityName"  value="${(dto.intentCommunityDesc)!}"></td>
			<td style="text-align:left;"><font color="red">*</font>
			</td>
			</tr>
			
			<tr>
			<td>购房预算</td>
			<td style="text-align:left;"><input type="text" name="budgetPrice" value="${(dto.budgetPrice)!}" onKeyUp="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" >
			  万元</td>
			<td style="text-align:left;">&nbsp;</td>
			</tr>
			
			<tr>
			<td>备注</td>
			<td style="text-align:left;"><textarea rows="5" cols="50" name="desc">${(dto.description)!}</textarea></td>
			<td style="text-align:left;">&nbsp;</td>
			</tr>
			
			<tr>
				<td colspan="3" style="text-align: center;">
					<input type="button" id="cancel" value="取消" onclick="goback();">
					<input type="button" id="submit" value="确认">
				</td>
			</tr>
		</table>
  </div>
	</form>
</body>