<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1024, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>顾客短信</title>
	
	<link rel="stylesheet" type="text/css" href="../../css/style.css" media="screen" />
	<script src="/js/util.js"></script>
	<script src="/js/error.js"></script>
	<script src="/js/zepto.js"></script>
	<script src="/js/zepto.form.js"></script>
	<script language="javascript">
		 function goback(){
	    	window.location.href="/page/customerList?ss=${sessionId}";
	    }
	    
	    function send(){
	    	var form = $("#mainForm");
	    	var sendTo=$("#sendTo").val();
	    	var message=$("#message").val();
	    	if(message==''){
		    	alert("短信内容不能为空！");
		    	return false;
	    	}
	    	if(message.length>70){
		    	alert("短信内容不能超过70个字符！当前字符数为:"+message.length);
		    	return false;
	    	}
	    	$.ajax({
			  type: 'POST',
			  url: '/spi/smsToCustomer.do',
			  // data to be added to query string:
			  data: String.format('{"body":{"sendto":{0},"message":"{1}"}}',sendTo,message),
			  // type of data we are expecting in return:
			  dataType: 'json',
			  headers:{
			  	"_x_sessionid":"${sessionId}"
			  },
			  success: function(data){
			    var result = data.result;
			    if(result){
			    	reportErrorCode(result.code);
			    	//goback();
			    }else{
			    	alert("结果返回不正确");
			    }
			  },
			  error: function(xhr, type){
			    alert('Ajax error!')
			  }
			});
	    } 
	</script>
	<style>
		table.datatable tr td.xx {
		    text-align: left;
		    padding-left: 5px;
		    
		}
		table.datatable tr td.yy {
		    text-align: right;
		    padding-right: 10px;
		    width: 40%;
		}
	</style>
</head>
<body>
<form id="mainForm" name="mainForm">
		
	<div class='datadiv'>
      <div  class="subtitle">短信发送</div>
		<input type="hidden" name="sendTo" id="sendTo" value='${sendTo}'/>
		<table id="datatable" class="datatable" cellpadding="0" cellspacing="0" >
			<tr>
			<td>接收人</td>
			<td style="text-align:left;">
				<#if datalist?exists>
				<#list datalist as ch>${ch.name}；</#list>
				</#if>
			</td>
			</tr>
			<tr>
			<td>短信内容</td>
			<td style="text-align:left;">
				<textarea rows="5" cols="50" name="message" id="message" ></textarea>
			</td>
			</tr>
			
			<tr>
				<td colspan="2" class="btnfont">
					<input type="button" id="cancel" value="返回" onclick="goback();">
					<input type="button" id="submit" value="发送" onclick="send();">
				</td>
			</tr>
		</table>
  </div>
	</form>
</body>