html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, section, article, header, nav, aside, footer, figure {
	margin: 0;
	padding: 0;
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:focus {
	outline: 0;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	position: relative;
}
a.blocLink {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 5;
	top: 0px;
	left: 0px;/*background:#FF6600;*/
}
.clearfix {
	clear: both;
	display: block;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
}
section, article, header, nav, aside, footer, figure {
	display: block;
}
h1,h2,h3,h4,h5,h6{padding:0; margin:0;}
.demi{font-family:'itcavantgardestd-demi';text-transform:uppercase;}
.medium{font-family:'itcavantgardestd-md';}
.book{font-family:'tcavantgardestd-bk'; text-transform:uppercase;}
body {
	color: #1d1d1d;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}
/* HEADER */
#main_header {
	position: relative;
	max-width:965px;
	margin: 0.32em auto 0 auto;
	overflow: hidden;
	width: 80%;
}
#main_nav {
	float: left;
	margin: 2.8em 0 0 0;
	width: 92.6%;
	text-transform: uppercase;
}
#main_nav span {
	float: left;
	display: block;
	height: 1.2em;
	cursor: pointer;
}
#main_nav a.active, #main_nav span.active, #main_nav a:hover, #main_nav span:hover {
	color: #1d1d1d;
}
#main_nav ul {
	float: left;
	width: 100%;
}
#main_nav ul li {
	float: left;
}
#main_nav ul li div {
	color: #231f20;
	font: 0.88em/0.88em 'tcavantgardestd-bk';
	padding: 0;
	margin: 0 0.26em;
	float: left;
}
#main_nav ul a {
	color: #747373;
	font: 0.88em/0.88em 'itcavantgardestd-bold';
	letter-spacing: 0.02em;
	float: left;
}
.subnav{font: 0.88em/1.4em 'itcavantgardestd-bold'; color:#7dc399; width:100%; float:left;}
.logo {
	margin: 0.94em 0 0 0;
	float: right;
	width: 7.3%;
	max-width: 70px;
}
.logo img {
	width: 100%;
	display: block;
}
.logo.white {
	display: none;
}
/* FOOTER */
footer {
	clear: both;
	line-height: 17px;
	margin: 5.3em auto 2em auto;
	width: 80%;
	max-width: 965px;
}
footer .center {
}
.c1{width: 100%; position:relative; text-align:center;}
.imgbox{color:#231f20;text-align: center;white-space: nowrap; display:inline-block;}
.imgbox img{width:100%;max-width: 836px;}
.line_fl{height: 2px; background:#7d7c7c; left:0; top:50%; margin: 0 0 0 0;position:absolute;}
.line_fr{height: 2px; background:#7d7c7c; right:0; top:50%; margin-top: 0; position:absolute;}
.font01{font: 0.92em/1.6em 'itcavantgardestd-bold'; text-transform:uppercase;}
.font02{font: 1em/1.6em 'itcavantgardestd-md';}
.font03{font: 1em/1.6em 'Conv_Lobster 1.4';  text-transform:lowercase;letter-spacing: 0.02em;}
.footfont {
	width: 62%;
	margin: 0 auto;
	text-align: center;
	font: 0.6em/1.6em 'itcavantgardestd-md';
	color: #231f20;
	margin-top: 1.4em;
}

.footfont a{color:#000;}
.footfont a.colorgreen{text-transform:capitalize;}
.footfont a.colorgreen01{text-transform:lowercase;}
.footfont a.colorgreen01:hover,.footfont a.colorgreen:hover{color:#7dc399}

.fllowus {
	width: 62%;
	margin: 0.8em auto 0 auto;
	text-align: center;
	overflow: hidden;
	text-transform:uppercase;
}
.fllowuslink{width:100%; text-align:center;}
.fllowuslink img{max-width: 34px; margin: 0;}
.fllowus h1{font: 0.5em/1.5em 'itcavantgardestd-bold';color: #000;}
.playbox{  max-width: 53px; width: 2.2em; top:50%; left:50%; z-index:1; margin: -1.5em 0 0 -1.5em; display:block;position: absolute;}
.playbox02 {
max-width: 53px;
width: 2em;
top: 50%;
height: 2em;
left: 50%;
z-index: 1;
margin: -1em 0 0 -1em;
display: block;
position: absolute;}
@media (max-width: 480px) {
body {
	padding: 0;
}
#body {
width: 92%!important;}
#splashscreen{ display:none;}
.aboutbox,.clientsbox,#wrapper,.submainbox{width:92% !important;}
#main_header{width: 92%;}
.project_thumb {
	width: 100%;
	margin-bottom: 45px;
	line-height: 17px;
}
.submain_imgbox {
width: 100% !important;

max-width: 476px !important;
float:none !important;
margin: 0 auto !important;
}
.videobigbox{width:100% !important;margin: 0 auto 2em auto!important;float: none!important;}
.vjs-paused,.vjs-playing{
background-size: 3em !important;
bottom:0.2em!important;
left:42%!important;
}
.vjs-fullscreen-control{
background-size: 3em !important;
bottom:0.2em!important;
left:46%!important;
}
.who_list {
	margin: 0 auto 30px auto !important;
	float:none !important;
	max-width: 351px;
	width: 100%!important;
}
}
@media (max-width: 1024px) {
.flexslider {display: none;}
.flexbox{display:block !important;text-align:center; background:#fff; height:100%; width:100%; position:inherit !important}
.flexbox img{top:50%; left:50%; margin:-42px 0 0 -95px; position:absolute;}
}
