@import "reset.css";
@import "font.css";
@import "ui-media.css";
/*==========WORK START==========*/
#body{width:80%; margin: 1em auto 0 auto; max-width:965px;overflow: hidden;}
.ajaxContainer{margin:42px auto 0 auto;}
.noAnim {
	-webkit-transition: all, 0, ease-in, 0 !important;
}
.noSelection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.whitelogo {
	position: absolute;
	top: 8em;
	left: 3em;
	z-index: 1;
	display: block;
	width: 16em;
	height: 8em;
}
.whitelogo img{width:100%;}
.center {
	margin: 0 auto;
	position: relative;
}
video {
	width: 100%;
}
#error404 {
	font-size: 30px;
	font-family: 'Gotham Bold';
	text-align: center;
}
#error404 p span {
	font-size: 200px;
	line-height: 180px;
	display: block;
}
#home .undisplayed, #director .undisplayed {
	text-align: center;
	display: block;
	width: 500px;
	overflow: hidden;
	position: relative;
}
#home .undisplayed h1, #director .undisplayed h1 {
	font-size: 14px;
	margin-top: 40px;
	position: absolute;
	top: 0;
	left: 0;
}
#home .undisplayed h2,  #director .undisplayed h2 {
	font-size: 12px;
	color: #898989;
	margin-bottom: 40px;
	position: absolute;
	top: 0;
	left: 0;
}
/* PROJECT THUMB */
.videoplaybox{width:100%; overflow:hidden; position:relative;}
.videobigbox{width:49%; margin:0 2% 0 0;  float:left; max-width: 730px;overflow:hidden;margin-bottom: 2em;}
.videobigbox:nth-last-child(1),.submain_imgbox:nth-last-child(2){margin-bottom:0;}
.videobigbox:nth-child(2n-1){margin:0;}
.videobox{width:100%; position:relative;float: left;}
.videobox img{width:100%;max-width: 473px;}
.videosize{width:100%; height:10em;}
.fr{float:right;}
.sharebigbox{width: 5.4em; position:absolute; z-index:1; right:0; bottom: 0.6em;font-size: 22px;}
.sharebox{max-width: 66px; position:absolute; z-index:1; right: 0.6em;  bottom: 0;cursor:pointer;}
.shareicon{width: 1em; overflow: hidden;}
.shareicon img{width:100%; }
.sharefont{ overflow: hidden;}
.sharefont img{width: 100%; float:left;}
.sharebtn{ width: 4.1em; height: 3.9em; max-width: 31px;  max-height: 30px; float: left;}
.sharebtn img{width:100%;}
.title {
	font: 0.78em/0.8em 'itcavantgardestd-bold';
	color: #000;
}
.subtitle {
	font: 0.78em/1.6em 'itcavantgardestd-md';
	color: #000;
	text-transform: capitalize;
}
.subtitle a{float:left; color:#000;}
.subtitle a.colorgreen{text-transform:capitalize;}
.subtitle a.colorgreen:hover{float:left;color:#7dc399}
.subtitle a.colorgray{text-transform:lowercase}
.subtitle a.colorgray:hover{float:left;color:#747373}

.subtitle font{float:left;color:#000;}
.infos {
	width: 100%;
	float: left;
	color: #000;
	margin-top: 0.6em;
	line-height: 21px;
}
.videoplayinfos {
width: 100%;
margin: 1.2em 0 4em 0;
overflow: hidden;}
.infos_left{float:left; width:30%;}
.infos_left h1{float:left; font: 0.88em/1.4em 'itcavantgardestd-bold';}
.infos_left h2{float:left; font: 0.8em/1.5em 'itcavantgardestd-md'; text-transform: lowercase;}
.infos_left font{float:left; font: 0.88em/1.4em 'itcavantgardestd-md';}
.infos_right{float:right; font: 0.76em/1.4em 'itcavantgardestd-md'; width:60%;text-transform:capitalize}
.arrow {
	display: block;
	width: 4em;
	height: 3em;
	max-width: 69px;
	max-height: 39px;
	position: absolute;
	bottom: 18%;
	left: 50%;
	margin-left: -2em;
	background: url(../img/screen-arrow.png) no-repeat;
	background-size: 100%;
}

/*==========NEWS START==========*/
/* wrapper css */
.aboutbox, .clientsbox, #wrapper, .submainbox{
}
#wrapper hgroup{
	text-align:center;
}
#wrapper h2{
	margin:5px 0;
	color:#FF6D99;
	text-shadow:1px 1px 2px #A50031;
	font-size:33px;
	font-family:Arial Narrow, Arial, sans-serif;
}
#wrapper h3{
	font-style:italic;
	font-weight:normal;
	font-size:18px;
	text-shadow:1px 1px 0 #fff;
	color:#888;
	margin:5px 0;
}

#container{
	width:100%;
	margin: 0 auto;
	
}
.grid{
	width:481px;
	min-height:100px;
	background:#fff;
	font-size:12px;
	float:left;
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
	border-bottom: solid 2px #000;
}

.grid img.twitter{position:absolute; top:-0.2em;width: 3em!important;max-width: 32px;}
.grid .date {
	font: 1.2em/1em 'tcavantgardestd-bk'; color:#000; text-transform:capitalize; float:left;
	width: 100%;
}
.grid .date01 {
	font: 1.2em/1em 'tcavantgardestd-bk'; color:#000; text-transform:capitalize; float:left;
	width: 100%;
	margin:0.5em 0 0 1em;
}

.imgholder{margin: 0 0 1.4em 0;overflow: hidden;max-width: 348px;}
.grid .date.twitterfont{
	margin: 0.2em 0 0 2em;
float: left;
}
.grid .title {
	margin: 0.1em 0 0.4em 0;
	display:block;
	float:left;
	font: 2em/1em 'itcavantgardestd-bold';color:#000; 
	width: 100%;
}
.grid .medi {
	font: 0.8em/1em 'itcavantgardestd-md';
	color: #231f20; 
}
.grid p {
	font: 1.2em/1.4em 'tcavantgardestd-bk';color:#333132; 
	margin: 0em 0 1em 0; text-transform:none;
	float: left;
}
.grid p.news_twitter {
	font: bolder 1.2em/1.4em 'itcavantgardestd-demi';color:#333132; float: left;
}
.grid .meta{
	text-align:right;
	color:#777;
	font-style:italic;
}
.grid .imgholder img{
	width:100%;
	background:#ccc;
	display:block;
}

@media screen and (max-width : 1240px) {
	body{
		overflow:auto;
	}
}
@media screen and (max-width : 900px) {
	#backlinks{
		float:none;
		clear:both;
	}
	#backlinks a{
		display:inline-block;
		padding-right:20px;
	}
	#wrapper{
		margin-top:90px;
	}
}
/*==========NEWS END==========*/
/*==========CLIENTS START==========*/
.clients_box,.clientsbanner{width:100%; overflow:hidden;}
.clientsbanner img{width:100%;max-width: 966px;}
.clientsnav_box{width:100%; max-width:965px; overflow:hidden; margin: 0.76em auto 0 auto;}
.clientsnav{overflow:hidden; float:left;letter-spacing: -2px;}
.clientsnav a{font: 0.9em/0.9em 'itcavantgardestd-bold';text-transform:Uppercase; color:#000;letter-spacing: 0.02em;}
.clientsnav a:hover{color:#7dc399;}
.clientsnav font {
	color: #000;
	font: 0.9em/0.9em 'itcavantgardestd-md';
}
.clientssubnav{overflow:hidden; float:right;white-space: nowrap; display:inline-block;max-width: 142px;width: 6.6em;min-width: 100px;}
.clientssubnav div{width:100%; margin:0;float: left;}
.clientssubnav div img{ max-width:142px; max-height:19px; width:100%;}
.clientssubnav a{width:100%; float:left; height:1.5em;font: 0.74em/2em 'itcavantgardestd-demi';text-indent:0.2em; margin: 0 0 0.076em 0;color:#000; text-transform:lowercase;}
.clientssubnav a:hover,.clientssubnav a.active{color:#73c69c;}
.clientssubnav a:hover font{color:#747373;}

/*==========CLIENTS END==========*/
/*==========ABOUT START==========*/
.aboutbox,.clientsbox,#wrapper,.submainbox{margin: 1em auto 0 auto; width:80%;max-width: 966px;overflow: hidden;position: relative;}
.aboutbanner_box,.aboutbanner{width:100%; overflow:hidden;}
.aboutbanner img{width:100%;}
.aboutbanner_font{width:100%; overflow:hidden;margin: 0.68em 0 0 0;}
.aboutbanner_font h1{font: 0.888em/1.38em 'itcavantgardestd-bold';text-transform:Uppercase;letter-spacing: 0.01em;}
.aboutbanner_font font{color:#747373}
.whobox{width:100%; overflow:hidden;}
.whobox dl dt{font: 0.9em/1em 'itcavantgardestd-bold';color:#747373; margin: 3em 0 0.8em 0;text-transform:Uppercase;letter-spacing: 0;}
.whobox dl dd{width:100%;overflow: hidden;}
.who_list{width: 23.6%; margin: 0 1.4% 1.2em 0; float:left;}
.who_list:last-of-type{margin:0 0 0 0;}
.who_imgbox{
    text-align: center;
}
.who_imgbox img{width:100%;}
.who_list h2{font: 0.76em/1.2em 'itcavantgardestd-bold';text-transform:Uppercase;margin: 0.8em 0 0 0;}
.who_list h3{font: 0.3em/1.4em 'itcavantgardestd-demi'; margin: 0 0 0 0;text-transform:Uppercase;}
.who_list h4{font: 0.3em/1.4em 'itcavantgardestd-md'; margin: 0 0 0.6em 0;text-transform:Uppercase;letter-spacing: -0.02em;}
.who_list h4 a{color:#000;}
.manifesto{width:100%; overflow:hidden; margin: 1.2em 0 0 0;}

.manifesto dl dt{font: 0.9em/1em 'itcavantgardestd-bold';color:#73c69c; margin: 0 0 0.8em 0;text-transform:Uppercase;}
.manifesto dl dd{font: 0.79em/1.48em 'itcavantgardestd-bold';color:#747373; text-transform:Uppercase;}
/*==========ABOUT END==========*/
/*==========SUBNAV START==========*/

.submain_imgbox{width:32%; float:left; margin: 0 2% 2em 0;overflow: hidden;}
.submain_imgbox:nth-child(3n-1){margin:0}
.submain_imgbox:nth-last-child(1),.submain_imgbox:nth-last-child(2),.submain_imgbox:nth-last-child(3){margin-bottom:0;}
{margin: 0 2% 0 0;}
.submain_img{width:100%; position:relative;}
.submain_img img{width:100%; max-width:476px;}

.subfont01 h1{font: 0.78em/1em 'itcavantgardestd-bold'; float:left;}

.subfont01 font{float:left;}
.subfont01 h2{font: 0.78em/1em 'itcavantgardestd-md'; float:left;}
.subfont02 h3{font: 0.78em/1.2em 'itcavantgardestd-md'; text-transform: capitalize;}
.subfontbox{float:left; width:100%;margin: 0.4em 0 0 0;}
.subfontbox font{font: 0.78em/1em 'itcavantgardestd-md';}
.subfontbox .subfont01{float:left; width:100%;}
.subfontbox .subfont02{float:left; width:100%;}

/*==========SUBNAV END==========*/

.scroll_top{position:fixed; right:20px; bottom:50px; width:50px; height:50px; text-align:center; line-height:50px; cursor:pointer}

.scroll_top a{width:58px; height:58px; display:block; background:url(../img/top.png) no-repeat; margin:2px 0;}
.scroll_top a:hover{background:url(../img/tophover.png) no-repeat;}
.scroll_top a.homebtn{background:url(../img/home.png) no-repeat;}
.scroll_top a.homebtn:hover{background:url(../img/homehover.png) no-repeat;}