<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址 -->
<mapper namespace="com.flamingo.studiostare.dao.IRoleDao">

	<resultMap type="RoleEntity" id="roleResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
	</resultMap>

	<select id="selectRoleById" parameterType="int" resultType="RoleEntity" resultMap="roleResultMap">
		select * from role where id = #{id}
	</select>
	
	<insert id="insertRole" parameterType="RoleEntity">
		insert into role (name, description)
		values (#{name}, #{description})
	</insert>
	
	<update id="updateRole" parameterType="RoleEntity">
		update role set
			name = #{name}, 
			description = #{description}
		where id = #{id}
	</update>
	
	<delete id="deleteRole" parameterType="int">
		delete from role where id = #{id}
	</delete>

</mapper>