<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址 -->
<mapper namespace="com.flamingo.studiostare.dao.IVideoRefDao">

	<resultMap type="VideoRefEntity" id="videoRefResultMap">
		<id property="id" column="vr_id" />
		<result property="description" column="vr_description" />
		<result property="updateTime" column="vr_update_time" javaType="Date" />
		
		<association property="video" javaType="VideoEntity">
			<id property="id" column="v_id" />
			<result property="name" column="v_name" />
			<result property="imgPath" column="v_img_path" />
			<result property="videoPathWebm" column="v_video_path_webm" />
			<result property="videoPathOgg" column="v_video_path_ogg" />
			<result property="videoPathMp4" column="v_video_path_mp4" />
			<result property="description" column="v_description" />
			<result property="updateTime" column="v_update_time" javaType="Date" />
		</association>
	
		<association property="client" javaType="ClientEntity">
			<id property="id" column="c_id" />
			<result property="name" column="c_name" />
			<result property="phone" column="c_phone" />
			<result property="email" column="c_email" />
			<result property="description" column="c_description" />
			<result property="updateTime" column="c_update_time" javaType="Date" />
		</association>
	
		<association property="category" javaType="CategoryEntity">
			<id property="id" column="ca_id" />
			<result property="name" column="ca_name" />
			<result property="description" column="ca_description" />
			<result property="updateTime" column="ca_update_time" javaType="Date" />
		</association>
		
	</resultMap>

	<select id="selectVideoRefById" parameterType="int" resultType="VideoRefEntity" resultMap="videoRefResultMap">
		select * from videoref where id = #{id}
	</select>
	
	<insert id="insertVideoRef" parameterType="VideoRefEntity">
		insert into videoref (video_id, client_id, category_id, description)
		values (#{videoId}, #{clientId}, #{categoryId}, #{description})
	</insert>
	
	<update id="updateVideoRef" parameterType="VideoRefEntity">
		update videoref set
			video_id = #{videoId}, 
			client_id = #{clientId}, 
			category_id = #{categoryId}, 
			description = #{description}, 
			update_time = #{updateTime}
		where id = #{id}
	</update>
	
	<delete id="deleteVideoRefById" parameterType="int">
		delete from videoref where id = #{id} 
	</delete>
	
	<select id="selectVideoRef" parameterType="VideoRefEntity" resultType="VideoRefEntity" resultMap="videoRefResultMap">
		select v.id v_id, v.name v_name, v.img_path v_img_path, 
		v.video_path_webm v_video_path_webm, v.video_path_ogg v_video_path_ogg, v.video_path_mp4 v_video_path_mp4, 
		v.description v_description, v.update_time v_update_time, 
		c.id c_id, c.name c_name, c.phone c_phone, c.email c_email, c.description c_description, c.update_time c_update_time, 
		ca.id ca_id, ca.name ca_name, ca.description ca_description, ca.update_time ca_update_time,
		vr.id vr_id, vr.description vr_description, vr.update_time vr_update_time 
		from video v, client c, category ca, videoref vr 
		where v.id = vr.video_id and c.id = vr.client_id and ca.id = vr.category_id  
		<if test="video != null and video.id != null and video.id != 0">
			and vr.video_id = #{videoId} 
		</if>
		<if test="client != null and client.id != null and client.id != 0">
			and vr.client_id = #{clientId} 
		</if>
		<if test="category != null and category.id != null and category.id != 0">
			and vr.category_id = #{categoryId} 
		</if>
		<if test="description != null and description != ''">
			and vr.description like '%${description}%' 
		</if>
	</select>
	
	<delete id="deleteVideoRef" parameterType="VideoRefEntity">
		delete from videoref where 1 = 1 
		<if test="videoId != null and videoId != 0">
			and video_id = #{videoId} 
		</if>
		<if test="clientId != null and clientId != 0">
			and client_id = #{clientId} 
		</if>
		<if test="categoryId != null and categoryId != 0">
			and category_id = #{categoryId} 
		</if>
		<if test="description != null and description != ''">
			and description like '%${description}%' 
		</if>
	</delete>

</mapper>